#loading, #results {
    display: none;
}

*{
    box-sizing:border-box;
    text-align: center;
    margin-top: 10px;
}

.LoanForm{
    border:2px 2px 2px 2px;
    border-color: black;
}

.input{
    margin-top: 10px;
    padding:10px;
    font-size:20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.input input{
    font-size: 20px;
}
